{{ header }}
<style>
	.vd-image-container > .vd-image-wrapper > .vd-image img {
		max-width: 406px;
	}
	.vd .panel-group .panel-heading.active-faq a h4 {
		color: #b43e26 !important;
	}
	#fade .inner-wrap {
		border-right: 1px dotted #48520f;
		border-left: 1px dotted #48520f;
	}
	@media screen and(max-width:991px) {
		.vd .panel-group .panel-heading {
			position: relative;
			padding-left: 40px;
		}
	}
	@media screen and(max-width:767px) {
		#sortable {
			padding: 0;
		}
		.vd-image-container > .vd-image-wrapper > .vd-image img {
			width: 406px;
		}
	}
</style>
<div id="information-information">
	{{ column_left }}
	{% if column_left and column_right %}
		{% set class = 'col-sm-6' %}
	{% elseif column_left or column_right %}
		{% set class = 'col-sm-9' %}
	{% else %}
		{% set class = 'col-sm-12' %}
	{% endif %}
	<div id="content" class="">{{ content_top }}
		<div class="main_title">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1 style="padding-bottom:0px;">{{ heading_title }}</h1>
						<p  style="text-align:center;padding-bottom:16px;">{{ heading_subtext }}</p>
					</div>
				</div>
			</div>
		</div>
		{{ description }}

		
		<div class="widget-panel">
			<div class="container-fluid" style="padding:0px;">
			{{ content_bottom }}

				<div class="col-md-4 block">
					<h2>Instagram</h2>
					<a href="https://www.instagram.com/stoneledge.farm/" class="greenborder-cta ctaHeading" target="_blank">See All &rsaquo;</a>
					<div class="clear"></div>
					<p>Don't forget to follow us on Instagram to catch a glimpse at life on the farm!</p>
					<div class="block-item instagram">
						<div class="postbox"></div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-lg-12 block">
						<div class="block-item logos">
							<div class="owl-carousel owl-theme" id="logoslider">

								<div class="item"><img src="image/catalog/Pure-Catskills-923335510271017.png"/></div>
								<div class="item"><img src="image/catalog/Parnter-Charter-60221911271017.png"/></div>
								<div class="item"><img src="image/catalog/image-2361.png"/></div>
								<div class="item"><img src="image/catalog/USDA-Organic-906541011271017.png"/></div>
								<div class="item"><img src="image/catalog/Pride-of-New-York-591351111271017.png"/></div>
								<div class="item"><img src="image/catalog/image-8842.png"/></div>

							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="widget-panel-wrapper"></div>
			<div class="farm-sketch"></div>
		</div>

  </div>
	{{ column_right }}</div>

<script src="catalog/view/theme/stoneledge/js/parallax.js"></script>
<script>
{% set page_title = heading_title|lower %}
{% if page_title == 'faq' %}
		$('.parallax-window').parallax({imageSrc: 'image/catalog/farm-photo-2021134910182.jpeg'});
		{% elseif page_title == 'frequently asked questions' %}
		$('.parallax-window').parallax({imageSrc: 'image/catalog/farm-photo-2021134910182.jpeg'});

{% elseif page_title != 'submit a recipe' and page_title != 'contact us' %}
	$('.parallax-window').parallax({imageSrc: 'image/catalog/our-farm-2021135120776.jpeg'});
{% endif %}
</script>

{% if page_title == 'submit a recipe' or page_title == 'contact us' %}
	<script>
		var map;
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
				center: { lat: 42.2787714, lng: -73.9561145 },
				zoom: 10,

				mapTypeControl: false,
				mapTypeControlOptions: {
					style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
					position: google.maps.ControlPosition.TOP_CENTER
				},
				zoomControl: true,
				zoomControlOptions: {
					position: google.maps.ControlPosition.RIGHT_BOTTOM
				},
				scaleControl: true,
				streetViewControl: false,
				streetViewControlOptions: {
					position: google.maps.ControlPosition.LEFT_TOP
				},
				fullscreenControl: false,

				styles: [
					{
						"featureType": "all",
						"elementType": "geometry.fill",
						"stylers": [
							{
								"weight": "2.00"
							}
						]
					},
					{
						"featureType": "all",
						"elementType": "geometry.stroke",
						"stylers": [
							{
								"color": "#9c9c9c"
							}
						]
					},
					{
						"featureType": "all",
						"elementType": "labels.text",
						"stylers": [
							{
								"visibility": "on"
							}
						]
					},
					{
						"featureType": "landscape",
						"elementType": "all",
						"stylers": [
							{
								"color": "#f2f2f2"
							}
						]
					},
					{
						"featureType": "landscape",
						"elementType": "geometry.fill",
						"stylers": [
							{
								"color": "#ffffff"
							}
						]
					},
					{
						"featureType": "landscape.man_made",
						"elementType": "geometry.fill",
						"stylers": [
							{
								"color": "#ffffff"
							}
						]
					},
					{
						"featureType": "poi",
						"elementType": "all",
						"stylers": [
							{
								"visibility": "off"
							}
						]
					},
					{
						"featureType": "road",
						"elementType": "all",
						"stylers": [
							{
								"saturation": -100
							},
							{
								"lightness": 45
							}
						]
					},
					{
						"featureType": "road",
						"elementType": "geometry.fill",
						"stylers": [
							{
								"color": "#eeeeee"
							}
						]
					},
					{
						"featureType": "road",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#7b7b7b"
							}
						]
					},
					{
						"featureType": "road",
						"elementType": "labels.text.stroke",
						"stylers": [
							{
								"color": "#ffffff"
							}
						]
					},
					{
						"featureType": "road.highway",
						"elementType": "all",
						"stylers": [
							{
								"visibility": "simplified"
							}
						]
					},
					{
						"featureType": "road.arterial",
						"elementType": "labels.icon",
						"stylers": [
							{
								"visibility": "off"
							}
						]
					},
					{
						"featureType": "transit",
						"elementType": "all",
						"stylers": [
							{
								"visibility": "off"
							}
						]
					},
					{
						"featureType": "water",
						"elementType": "all",
						"stylers": [
							{
								"color": "#46bcec"
							},
							{
								"visibility": "on"
							}
						]
					},
					{
						"featureType": "water",
						"elementType": "geometry.fill",
						"stylers": [
							{
								"color": "#c8d7d4"
							}
						]
					},
					{
						"featureType": "water",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#070707"
							}
						]
					},
					{
						"featureType": "water",
						"elementType": "labels.text.stroke",
						"stylers": [
							{
								"color": "#ffffff"
							}
						]
					}
				]
			});

			var infowindow = new google.maps.InfoWindow();
			var service = new google.maps.places.PlacesService(map);

			service.getDetails({
				placeId: 'ChIJS7F-h1y53YkR6rEHxOMGDog'
			}, function (place, status) {
				if (status === google.maps.places.PlacesServiceStatus.OK) {
					var marker = new google.maps.Marker({
						map: map,
						position: place.geometry.location
					});
					google.maps.event.addListener(marker, 'click', function () {
						infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
							// 'Place ID: ' + place.place_id + '<br>' +
							place.formatted_address + '</div>');
						infowindow.open(map, this);
					});
				}
			});

		}

		mapInterval = setInterval(function() {
			if ($(document).find('.contact-widget #map').length > 0 && typeof google === 'object' && typeof google.maps === 'object') {
			    if ($(document).find('.contact-widget #map div').length !== 0) {
			        // visual designer updates view after page load that's why we cannot clear at same time
			        setTimeout(function() {
			            clearInterval(mapInterval);
			        }, 20000);
			    } else {
			        initMap();    
			    }
			}
		}, 100);
		{% if page_title == 'contact us' %}
			$('.parallax-window').parallax({
				imageSrc: 'image/catalog/Stoneledge-Farm-54652421101117.jpg'
			});
		{% elseif page_title == 'submit a recipe' %}
			$('.parallax-window').parallax({imageSrc: 'image/catalog/image-4983.jpg'});
		{% else %}
			$('.parallax-window').parallax({imageSrc: 'image/catalog/farm-photo-2021134910182.jpeg'});
		{% endif %}
	</script>
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB52fvcCe3pb4GplhGPyvMgcT0xVMnDsG8&libraries=places" async="" defer=""></script>
{% endif %}
{{ footer }}
