{{header}}
<style>
{{custom_style}}
    </style>
    <div class="page-content">
        <div class="page-content-header">
            <div class="container">
                <div class="row intro-heading">
                    <div class="col-lg-12">
                        <h1 class="pageTitle" id="list">{#{heading_title}#}FARM NEWS</h1>
                        <p>Check back regularly to find out the goings on at our certified organic farm!</p>
                        <p>Select a category:</p>
                        <form class="plain-select" id="" action="" method="post">
                            <select id="goTo" name="goTo">
                                <option value="{{all_new_link}}">All News</option>
                                {% for news_category in news_categories %}
                                {% if news_category.category_id == category_id %}
                                    <option value="{{news_category.href}}" selected="selected">{{news_category.title}}</option>
                                {% else %}
                                    <option value="{{news_category.href}}" >{{news_category.title}}</option>
                                {% endif %}
                                {% endfor %}
                                
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content-body">
            <div class="container page-content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        {% if pagination %}
                            <div class="news-pagination">
                                <nav>
                                    {{pagination}}
                                </nav>
                            </div>
                        {% endif %}
                        <div class="recipe-subcats">
						{% if thumb %}
                                <div class="subcatIcon"><img src="{{ thumb }}" alt="{{heading_title}}"></div>
							{% endif %}
                                    {#<div class="subcatTitle">{{heading_title}}</div>#}

						{% if categories %}
                                    <div class="subcats">
{% for category in categories %}
                                            <div><a href="{{ category.href }}" title="{{ category.title }}">{{ category.title }}</a></div>
 {% endfor %}
                                            </div>
                            {% endif %}

                                        </div>

                                        <div class="row news-content grid">
							{% if posts %}
							{% for post in posts %}
                                            <div class="col-md-4 col-sm-6">
                                                <div class=" news-content-box" style=" {% if height %} min-height: {{height}} {% endif %}"  {% if post.animate %}animate="{{post.animate}}"{% endif %}>
								{% for post in post %}
								{% if post is iterable %}
                                                        <div class="news-header">
                                                            <div class="newsDate {% if category_id==12 %} crop{% endif %}">
                                                                {% if category_id==12 %}
                                                                    <span class="crop-week">{{post.title}}</span>
                                                                {% endif %}
                                                                <span>{{post.date_published}}</span>
                                                            </div>
                                                                
                                                            <a href="{{post.href}}" title="{{post.title}}">
                                                                <img src="{{post.thumb}}" alt="{{post.image_alt}}">
                                                            </a>
                                                        </div>
                                                        <div class="news-body">
                                                            {% if category_id !=12 %}
                                                            <div class="name">
                                                                <h3 class="title"><a href="{{post.href}}">{{post.title}}</a></h3>
                                                            </div>
                                                             {% endif %}
                                                                <p>
                                                                    {{post.description}}
                                                                </p>
                                                        </div>
								{% endif %}
								{% endfor %}

                                                        </div>
                                                    </div>

							{% endfor %}

                            {% endif %}
                                                </div><!--news-content grid-->

            {% if not posts and post_display_on_main == false %}
                                                <p class="bm-empty">{{text_empty}}</p>
            {% endif %}
                                            </div>

                        {% if pagination %}
                                            <div class="bm-pagination">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <div class="news-pagination">
                                                            <nav>
                                                                {{pagination}}
                                                            </nav>
                                                        </div>                                                        
                                                    </div>
                                                    {#<div class="col-sm-6 text-right">{{results}}</div>#}
                                                </div>
                                            </div> 
                        {% endif %}
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="widget-panel">
                                <div class="container-fluid" style="padding:0px;">
								{{ content_bottom }}
                                   
                                                <div class="col-md-4 block">
                                                    <h2>Instagram</h2> <a href="https://www.instagram.com/stoneledge.farm/" class="greenborder-cta ctaHeading" target="_blank">See All &rsaquo;</a>
                                                    <div class="clear"></div>
                                                    <p>Don't forget to follow us on Instagram to catch a glimpse at life on the farm!</p>
                                                    <div class="block-item instagram">

                                                        <div class="postbox">

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-12 block">
                                                        <div class="block-item logos">
                                                            <div class="owl-carousel owl-theme" id="logoslider">

                                                                <div class="item"><img src="image/catalog/Pure-Catskills-923335510271017.png" /></div>

                                                                <div class="item"><img src="image/catalog/Parnter-Charter-60221911271017.png" /></div>

                                                                <div class="item"><img src="image/catalog/image-2361.png" /></div>

                                                                <div class="item"><img src="image/catalog/USDA-Organic-906541011271017.png" /></div>

                                                                <div class="item"><img src="image/catalog/Pride-of-New-York-591351111271017.png" /></div>

                                                                <div class="item"><img src="image/catalog/image-8842.png" /></div>


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="widget-panel-wrapper"></div>
                                            <div class="farm-sketch"></div>
                                        </div>
                                        <script>

                                            $(document).ready(function() {
                                                $("#goTo").change(function() {
                                                    var address = $(this).val();
                                                    window.location = address;
                                                });
                                            });

                                            </script>
{{footer}}

<script>
    $('.parallax-window').parallax({imageSrc: 'image/catalog/banner_ji1pwfacaw.jpg'});
</script>